
<% obj.each.with_index(1) do |article, index| %>
  <div class="card bg-light mt-2">
    <div class="card-body">
      <p><b>Article No:</b> <%= index %></p>
      <p><b>Article Title:</b> <%= link_to article.title, article_path(article) %></p>
      <p><b>Article Description:</b> <%= article.description %></p>
      <span><b>Category:  </b></span>
      <%  article.categories.each do |category|%>
        <span class="badge bg-primary"><%= category.name%></span>
      <%end %>

      <hr class="my-4">
      <p><b>Created by: </b> <%=  article.user.username if article.user.present? %></p>
      <p><%=  article.user.created_at if article.user.present? %></p>
      <%if logged_in && (current_user == article.user || current_user.admin?) %>
        <% puts current_user.inspect
          puts article.user.inspect%>
        <%= link_to "Edit this article", edit_article_path(article), class: "btn btn-secondary btn-sm" %></td>
        <td> <%= button_to "Delete this article", article_path(article), method: :delete , class: "btn btn-sm btn-danger btn-sm" %>
      <% end %>
    </div>
  </div>
<%end %>