<% obj.each do |article| %>
  <div class="card bg-light mt-2">
    <div class="card-body">
      <h6><%= link_to article.title, article_path(article) %></h6>
      <h6><%= article.description %></h6>
      <%  article.categories.each do |category|%>
        <span class="badge bg-primary"><%= category.name%></span>
      <%end %>

      <hr class="my-4">
      <p>Created by: <%=  article.user.username if article.user.present? %></p>
      <p><%=  article.user.created_at if article.user.present? %></p>
      <hr class="my-4">
      <%if logged_in && (current_user == article.user || current_user.admin?) %>
        <% puts current_user.inspect
          puts article.user.inspect%>
        <%= link_to "Edit this article", edit_article_path(article), class: "btn btn-secondary btn-sm" %></td>
        <td> <%= button_to "Delete this article", article_path(article), method: :delete , class: "btn btn-sm btn-danger btn-sm" %>
      <% end %>
    </div>
  </div>
<%end %>