<h3 class="mt-3"> Blogger Details </h3>
<hr class="my-4">

<div class="row">
  <div class="d-flex justify-content-center">
    <div class=" col-7 d-flex  mt-6 card bg-light justify-content-center">
      <div class="card-body">
        <div class="">
          <div style="display: inline-block;"> <h4>Name:</h4></div>
          <div style="display: inline-block;"><%= @user.username %></div>
        </div>
        <div class=" mt-6">
          <div style="display: inline-block;"> <h4>Email:</h4></div>
          <div style="display: inline-block;"><%= @user.email %></div>
        </div>
        <p>Total Articles: <%=  @user.articles.count %></p>
        <div class="text-center" >
          <% if current_user == @user %>
            <%= link_to "Edit this Account", edit_user_path(@user), class: "btn btn-sm btn-primary" %>
            <%= button_to "Delete this User", user_path, method: :delete , class: "btn btn-sm btn-danger" %>
          <% end %>
            <%= link_to "View all users", users_path,  class: "btn btn-sm btn-success ml-2" %>
        </div>
    </div>
  </div>
</div>

<div class="row">
  <%= render 'articles/article', obj: @user.articles %>
</div>


