<h3 class="mt-3"> All Categories </h3>
<hr class="my-4">

<div class="card bg-light mt-2">
  <div class="card-body">
      <table class="table">
        <thead>
          <th>ID</th>
          <th>Category Name</th>
          <th>Total Articles</th>
          <% if logged_in && current_user.admin? %>
          <th>Action</th>
          <% end %>
        </thead>
        <% @category.each do |category| %>
        <tbody>
          <td><%= category.id %></td>
          <td><%= category.name %></td>
          <td><%= category.articles.count %></td>
          <td>
          <%if logged_in && current_user.admin? %>
            <%= link_to "Edit this category", edit_category_path(category), class: "btn btn-secondary btn-sm" %></td>
            <td> <%= button_to "Delete this category", category_path(category), method: :delete , class: "btn btn-sm btn-danger btn-sm" %>
          <% end %>
          </td>
        </tbody>
        <%end %>
    </table>
  </div>
</div>



