<!DOCTYPE html>
<html>
  <head>
    <title>AplhaBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'layouts/flash_messages' %> <!-- layout/ is used to load from layouts by default it will load from the current views directory articles in this app case-->

    <%= yield %>
  </body>
</html>
